
@{
    ViewData["Title"] = "Applications";
}
<div ng-controller="StandByApplicationController" ng-init= "refresh()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center">
                <h2>Stanby Cluster Configuration Application</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <form class="col-xs-12 center-block">
                    <div class="col-xs-6 form-group">
                        <input id="txtAdd" type="text" class="form-control" placeholder="Primary Cluster" value="localhost" ng-model="pc" />
                    </div>
                    <div class="col-xs-6 form-group">
                        <input id="txtAdd" type="text" class="form-control" placeholder="Primary HttpEndpoint" value="19080" ng-model="php" />
                    </div>
                    <div class="col-xs-6 form-group">
                        <input id="txtAdd" type="text" class="form-control" placeholder="Secondary Cluster" value="localhost" ng-model="sc" />
                    </div>
                    <div class="col-xs-6 form-group">
                        <input id="txtAdd" type="text" class="form-control" placeholder="SecondaryEndpoint" value="19000" ng-model="shp" />
                    </div>
                </form>
                <div class="col-xs-offset-0 text-center">
                    <button id="btnAdd" class="btn btn-primary" ng-click="getapps(pc,php)">
                        Submit
                    </button>
                </div>
            </div>
        </div>
        <hr />
        <div class="row" ng-show="!showConfiguredApps">
            <div class="col-xs-8 col-xs-offset-2 text-center">
                <h3>No Applications configured</h3>
            </div>
        </div>
        <div class="row" ng-show=showConfiguredApps>
            <div class="col-xs-8 col-xs-offset-2 text-center">
                <h3>Applications configured for Backup</h3>
            </div>
        </div>
        <div class="col-xs-offset-0 text-center" ng-repeat="appConfigured in appsConfigured">
            <button class="btn btn-success btn-default" ng-click="openStatusModal(appConfigured)">
                <span class="center-block">
                    {{appConfigured}}
                </span>
            </button>
        </div>
    </div>
</div>

