@{
    ViewData["Title"] = "Service Fabric CBA Application";
}

<div ng-controller="CBAController" ng-init="refresh()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center">
                <h2>Cluster Backup Application</h2>
            </div>
        </div>

        <hr />

    </div>
</div>