@{
    ViewData["Title"] = "About";
}
<div ng-controller="StandByApplicationController" ng-init="refresh()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center">
                <h2>Cluster Backup Application</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <form class="col-xs-12 center-block">
                    <div class="col-xs-6 form-group">
                        <input id="txtAdd" type="text" class="form-control" placeholder="Primary Cluster Connection String" value="localhost" ng-model="pc" />
                    </div>
                    <div class="col-xs-6 form-group">
                        <input id="txtAdd" type="text" class="form-control" placeholder="HttpPort" value="19080" ng-model="hp" />
                    </div>
                </form>
                <div class="col-xs-offset-0 text-center">
                    <button id="btnAdd" class="btn btn-primary" ng-click="getpolicies()">
                        GetPolicies
                    </button>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="row top-buffer" ng-repeat="policy in policies.data">
                    <div class="col-xs-offset-0 text-center">
                        <button class="btn btn-success text-left btn-default" ng-click="openPolicyModal(policy)">
                            <span class="center-block">
                                {{policy}}
                            </span>
                        </button>
                    </div>
                </div>
                <div ng-show="showForm">
                    <form class="col-xs-12 center-block" ng-submit="submitstoragedetails()">
                        <div class="col-xs-8 col-xs-offset-2 text-center">
                            Provide Backup storage details for this policy
                        </div>
                        <div class="col-xs-offset-0 form-group">
                            <select id="addOption" class="form-control" ng-model="policy.StorageKind">
                                <option disabled selected>--Choose storage kind--</option>
                                <option>AzureBlobStore</option>
                                <option>FileShare</option>
                            </select>
                        </div>
                        <div class="col-xs-offset-0 form-group">
                            <input type="text" class="form-control" placeholder="path" name="Name" ng-model="policy.Path" />
                        </div>
                        <div class="col-xs-offset-0 form-group">
                            <input type="text" class="form-control" placeholder="connectionString" ng-model="policy.ConnectionString" />
                        </div>
                        <div class="col-xs-offset-0 form-group">
                            <input type="text" class="form-control" placeholder="containerName" ng-model="policy.ContainerName" />
                        </div>
                        <div class="col-xs-offset-0 form-group">
                            <input type="text" class="form-control" placeholder="backupLocation" ng-model="policy.BackupLocation" />
                        </div>
                        <div class="col-xs-offset-0 form-group">
                            <input type="submit" class="form-control" value="Submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>